<div
  class="container ml-1 mr-1"
  style="background-image: url(assets/pexels-pixabay-94272.jpg)"
>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="registerSubmitted()"
    class="border p-3 rounded-3 form" 
  >
    <div class="row g-0">
      <div class="col text-center p-2 mb-3 bg-dark">
        <span class="fs-3">Login</span>
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="UserId" class="form-label">User ID</label>
        <input
          type="email"
          class="form-control"
          id="UserId"
          formControlName="UserId"
        />
        <div
          class="form-text text-danger"
          *ngIf="userId.errors?.['required'] && (userId.dirty || userId.touched)"
        >
          User ID is required.
        </div>
        <div
          class="form-text text-danger"
          *ngIf="userId.errors?.['email'] && (userId.dirty || userId.touched)"
        >
          User ID is Invalid..
        </div>
        <div class="form-text"></div>
      </div>
    </div>

    <div class="row">
      <div class="col mb-3">
        <label for="pwd" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="pwd"
          formControlName="pwd"
        />
        <div
          class="form-text text-danger"
          *ngIf="Pwd.errors?.['required'] && (Pwd.dirty || Pwd.touched)"
        >
          Password is required.
        </div>
        <div
          class="form-text text-danger"
          *ngIf="Pwd.errors?.['minlength'] || Pwd.errors?.['maxlength'] && (Pwd.touched || Pwd.dirty)"
        >
          Incorrect Password
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 offset-3">
        <div class="d-grid">
          <button
            type="submit"
            [disabled]="registerForm.invalid"
            class="btn btn-primary"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
