<h1>Names List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let use of allUsers">
                <td>{{use.name}}</td>
                <td>{{use.age}}</td>
                <td>{{use.email }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <br>
    City Name : <input type="text" [ngModel] = "city">
    <h2>{{city}}</h2>
    <button (click) = "getCityName()">Change</button>