<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INvehicle</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="learn-morepage.component.scss" />
    <svg 
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-fuel-pump"
      viewBox="0 0 16 16"
    >
      <path
        d="M3 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-5Z"
      />
      <path
        d="M1 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v8a2 2 0 0 1 2 2v.5a.5.5 0 0 0 1 0V8h-.5a.5.5 0 0 1-.5-.5V4.375a.5.5 0 0 1 .5-.5h1.495c-.011-.476-.053-.894-.201-1.222a.97.97 0 0 0-.394-.458c-.184-.11-.464-.195-.9-.195a.5.5 0 0 1 0-1c.564 0 1.034.11 1.412.336.383.228.634.551.794.907.295.655.294 1.465.294 2.081v3.175a.5.5 0 0 1-.5.501H15v4.5a1.5 1.5 0 0 1-3 0V12a1 1 0 0 0-1-1v4h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V2Zm9 0a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v13h8V2Z"
      />
    </svg>
  </head>

  <body *ngIf="learnMoreData" class="body">
    <div>
      <section id="sec1">
        <div class="container">
          <div class="row" id="bar">
            <div class="col" id="barC">
              <h3 (click)="toOverview()" class="hod">Overview</h3>
            </div>

            <div class="col" id="barC">
              <h3 (click)="toKey()" class="hod">KeySpace</h3>
            </div>

            <div class="col" id="barC">
              <h3 (click)="toSummary()" class="hod">Summary</h3>
            </div>

            <div class="col" id="barC">
              <h3 (click)="toColours()" class="hod">Colours</h3>
            </div>

            <div class="col" id="barC">
              <h3 (click)="toMileage()" class="hod">Mileage</h3>
            </div>
          </div>
        </div>
        <hr />
      </section>

      <section id="sec2">
        <div class="row justify-content-center">
          <div class="col-6" id="oc">
            <img src="{{learnMoreData[0].brandimage}}" alt="car" />
          </div>

          <div class="col-4" id="oc">
            <div class="text-center">
              <div class="card-body">
                <h2 class="card-title">{{learnMoreData[0].brandName}}</h2>

                <h2 class="card-title">{{learnMoreData[0].brandPrice}}</h2>

                <p class="card-text">Avg. Ex-Showroom price</p>

                <!-- <a href="#" class="btn btn-primary">Show price in my city</a> -->
                <br />
                {{learnMoreData[0].brandshort}}
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="sec3">
        <div class="container" id="KeyS">
          <div class="col-md-8"><h2>Key Specifications for {{learnMoreData[0].brandName}}</h2></div>

          <div class="row row-cols-2 row-cols-lg-3" id="box">
            <div class="col" id="keyC">
              <i class="bi bi-fuel-pump"></i>
              Fuel Type

              <h4>{{learnMoreData[0].brandfueltype}}</h4>
            </div>

            <div class="col" id="keyC">
              <img src="image.png" alt="" /> Engine

              <h4>{{learnMoreData[0].brandEngine}}</h4>
            </div>

            <div class="col" id="keyC">
              Power and Torque

              <h4>{{learnMoreData[0].brandPower}}</h4>
            </div>

            <div class="col" id="keyC">
              DriveTrain

              <h4>{{learnMoreData[0].brandDrivetrain}}</h4>
            </div>

            <div class="col" id="keyC">
              Acceleration

              <h4>{{learnMoreData[0].brandAccleration}}</h4>
            </div>

            <div class="col" id="keyC">
              Top Speed

              <h4>{{learnMoreData[0].brandtopSpeed}}</h4>
            </div>
          </div>
        </div>
      </section>

      <hr />
      <section id="sec4">
        <div class="row justify-content-evenly">
          <div class="col-4">
            <h2>{{learnMoreData[0].brandName}} Summary</h2>
          </div>

          <div class="col-4">
            <h2>Price in India</h2>
          </div>
        </div>

        <div class="row justify-content-evenly">
          <div class="col-4" id="sum">
            <h4>Price</h4>
            {{learnMoreData[0].brandSumPrice}}

            <h4>Market introduction:</h4>
            {{learnMoreData[0].brandSumMarket}}

            <h4>Variants:</h4>
            {{learnMoreData[0].brandSumVariants}}

            <h4>Engine and transmission:</h4>
            {{learnMoreData[0].brandSumEngine}}

            <h4>Seating capacity:</h4>
            {{learnMoreData[0].brandSumSeating}}
          </div>

          <div class="col-4">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>

                  <th scope="col">City</th>

                  <th scope="col">On-road Price</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th scope="row">1</th>

                  <td>Delhi</td>

                  <td>Rs: 4.63 Crore onwards</td>
                </tr>

                <tr>
                  <th scope="row">2</th>

                  <td>Mumbai</td>

                  <td>Rs: 4.35 Crore onwards</td>
                </tr>

                <tr>
                  <th scope="row">3</th>

                  <td>Pune</td>

                  <td>9.75 Crore onwards</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <hr />

      <section id="sec5">
        <div class="col-md-8"><h2>Colours :</h2></div>
        <div class="row">
          <div class="col-3">
            <img
              src="{{learnMoreData[0].brandcolor1}}"
              class="img-thumbnail"
              alt="..."
            />
          </div>

          <div class="col-3">
            <img
              src="{{learnMoreData[0].brandcolor2}}"
              class="img-thumbnail"
              alt="..."
            />
          </div>
          <div class="col-3">
            <img
              src="{{learnMoreData[0].brandcolor3}}"
              class="img-thumbnail"
              alt="..."
            />
          </div>
          <div class="col-3">
            <img
              src="{{learnMoreData[0].brandcolor4}}"
              class="img-thumbnail"
              alt="..."
            />
          </div>
        </div>
      </section>

      <hr />

      <section id="sec6">
        <div class="container">
          <div class="col-md-8"><h2>Mileage</h2></div>
          {{learnMoreData[0].brandMileagetalk}}

          <table class="table" id="box2">
            <thead id="head">
              <tr>
                <th scope="col" class="hd">Fuel Type</th>

                <th scope="col" class="hd">Transmission</th>

                <th scope="col" class="hd">ARAI Mileage</th>

                <th scope="col" class="hd">User Reported Mileage</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>{{learnMoreData[0].brandMileageFuel}}</td>

                <td>{{learnMoreData[0].brandMileageTransmission}}</td>

                <td>{{learnMoreData[0].brandAraiMileage}}</td>

                <td>{{learnMoreData[0].brandUserMileage}}</td>
              </tr>
              <tr>
                <td>{{learnMoreData[0].brandMileageFuel1}}</td>

                <td>{{learnMoreData[0].brandMileageTransmission1}}</td>

                <td>{{learnMoreData[0].brandAraiMileage1}}</td>

                <td>{{learnMoreData[0].brandUserMileage1}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <div class="text-center">
        <a
        class="btn btn-info"
        [routerLink]="['/brand', learnMoreData[0].id]"
          >Back
        </a>
      </div>
      <br /><br />
    </div>
  </body>
</html>
