
#bar{

    border: 2px solid white;
  
    background-color:  #6f6f6f;
  
    text-align: center;
}

  button{
  
    font-size: 10px;
  
    height: 50px;
  
  }
  .hod{
    font-family: sans-serif;
    font-style:inherit ;
  }
  // .hd{
  //    color: #aaa;;
  // }
  #barC{
    margin-top: 2px;
    color : black;
  
  }
  #barC :hover{
  
    color : white;
    cursor: pointer;
  
  }
  
  #oc{
  
    border: 2px solid rgb(162, 162, 162);
  
  }
  
  #KeyS{
  
   
  
    margin-top: 70px;
  
  }
  
  #keyC{
  
    border: 1px solid rgb(137, 137, 137);
  
  }
  
  #sum{
  
    border: 1px solid black;
    background-color: rgb(228, 227, 226);
  
  }
  #sec1{
    margin-top: 50px;
    padding-top: 20px;
  }
  
  #sec2{
  
    margin-top: 20px;
  
  }
  
  #sec3{
  
    margin-top: 70px;
    margin-bottom: 30px;
  
  }
  
  #sec4{
  
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  #sec5{
  
    margin-top: 40px;
  
    margin-left: 10%;
  
    width: 80%;
  
  }
  
  #sec6{
  
    margin-top: 40px;
    margin-bottom: 30px;  
  }
  
  .table{
  
    border: 1px solid #aaa;;
  
    

    background-color: rgb(228, 227, 226);
  
  }
  
  #box{
  
    height: 220px;
  
    background-color: rgb(228, 227, 226);
  
  }
  
  #box2{
  
    height: 110px;
  
    font-size: 20px;
  
  }
  
  #head{
  
    background-color: rgb(228, 227, 226);
  
  }