<!DOCTYPE html>
<html>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid navbar-header">
          <a class="navbar-brand fs-2" href="#"
            ><i class="ri-shirt-fill"></i>Web<span class="text-warning"
              >Store</span
            ></a
          >
          <div class="navbar navbar-search mx-auto">
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse bs-primary-text" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Men
                </a>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li><a class="dropdown-item" href="#">Top wear</a></li>
                  <li><a class="dropdown-item" href="#">Bottom wear</a></li>
                  <li><a class="dropdown-item" href="#">Winter wear</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Women
                </a>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li><a class="dropdown-item" href="#">Top wear</a></li>
                  <li><a class="dropdown-item" href="#">Bottom wear</a></li>
                  <li><a class="dropdown-item" href="#">Winter wear</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Children
                </a>
                <ul
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdownMenuLink"
                >
                  <li><a class="dropdown-item" href="#">Top wear</a></li>
                  <li><a class="dropdown-item" href="#">Bottom wear</a></li>
                  <li><a class="dropdown-item" href="#">Winter wear</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="nav navbar-nav navbar-right">
            <button type="button" href="#" class="navbar-user text-center p-1">
              <i class="ri-user-fill"></i>Sign in
            </button>
            <button type="button" href="#" class="navbar-user text-center p-1">
              <i class="ri-login-circle-fill"></i>Log in
            </button>
          </div>
        </div>
      </nav>

      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="..\assets\images\marvel.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="..\assets\images\dc.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="..\assets\images\onepiece.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="..\assets\images\naruto.png"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </header>

    <div class="container-fluid middle-body">
      <div class="navbar-expand-lg navbar-light bg-light row">
        <ul class="navbar-nav middle-header ms-auto">
          <li class="col-md-3 text-center dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Top Catagories
            </a>
            <ul class="text-center dropdown-menu mx-auto" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Hoodies/Jackets</a></li>
              <li><a class="dropdown-item" href="#">Oversized Tees</a></li>
              <li><a class="dropdown-item" href="#">Cosplay</a></li>
              <li><a class="dropdown-item" href="#">Caps & Hats</a></li>
              <li><a class="dropdown-item" href="#">Joggers</a></li>
            </ul>
          </li>
          <li class="col-md-3 text-center dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Shop by Product
            </a>
            <ul class="text-center dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Tees</a></li>
              <li><a class="dropdown-item" href="#">Shirts</a></li>
              <li><a class="dropdown-item" href="#">Joggers</a></li>
              <li><a class="dropdown-item" href="#">Hoodies/Jackets</a></li>
              <li><a class="dropdown-item" href="#">Boxer</a></li>
            </ul>
          </li>
          <li class="col-md-3 text-center dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Shop by Theme
            </a>
            <ul class="text-center dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Marvel</a></li>
              <li><a class="dropdown-item" href="#">DC</a></li>
              <li><a class="dropdown-item" href="#">Naruto</a></li>
              <li><a class="dropdown-item" href="#">One Piece</a></li>
            </ul>
          </li>
          <li class="col-md-3 text-center dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Shop by Character
            </a>
            <ul class="text-center dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Batman</a></li>
              <li><a class="dropdown-item" href="#">Iron Man</a></li>
              <li><a class="dropdown-item" href="#">Superman</a></li>
              <li><a class="dropdown-item" href="#">Hulk</a></li>
              <li><a class="dropdown-item" href="#">Naruto</a></li>
              <li><a class="dropdown-item" href="#">Luffy</a></li>
              <li><a class="dropdown-item" href="#">Zoro</a></li>
              <li><a class="dropdown-item" href="#">Sasuke</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <h2 class="text-center display-6 py-1">Most Popular</h2>
      
      <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row my-5">
        <div class="card m-2">
          <a href="#">
            <img src="..\assets\images\naruto-sweat.webp" class="card-img-top" height="300" alt="Product">
          </a>
          <div class="card-body">
            <p class="card-text fw-bold">Six Paths Sage Mode Bomber Jacket</p>
            <small class="text-secondary">₹1,700</small>
          </div>
        </div>
        <div class="card m-2">
          <a href="#">
            <img src="..\assets\images\naruto-drag.webp" class="card-img-top" height="300" alt="Product">
          </a>
          <div class="card-body">
            <p class="card-text fw-bold">What A Drag Hoodie (Oversize Drop-Shoulder)</p>
            <small class="text-secondary">₹1,800</small>
          </div>
        </div>
        <div class="card m-2">
          <a href="#">
            <img src="..\assets\images\onepiece-tee.webp" class="card-img-top" height="300" alt="Product">
          </a>
          <div class="card-body">
            <p class="card-text fw-bold">Pirate, Swordsman and Cook (Half Sleeve)</p>
            <small class="text-secondary">₹500</small>
          </div>
        </div>
        <div class="card m-2">
          <a href="#">
            <img src="..\assets\images\onepiece-joggers.webp" class="card-img-top" height="300" alt="Product">
          </a>
          <div class="card-body">
            <p class="card-text fw-bold">Gomu Gomu No Joggers</p>
            <small class="text-secondary">₹599</small>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row my-5">
        <div class="card m-2">
          <a href="#">
            <img src="..\assets\images\marvel-sweat.webp" class="card-img-top" height="300" alt="Product">
          </a>
          <div class="card-body">
            <p class="card-text fw-bold">Marvel: Classic Logo Sweatshirt</p>
            <small class="text-secondary">₹1,399</small>
          </div>
        </div>
        <div class="card m-2">
          <a href="#">
            <img src="..\assets\images\marvel-tee.webp" class="card-img-top" height="300" alt="Product">
          </a>
          <div class="card-body">
            <p class="card-text fw-bold">Spider-Man: The Suit</p>
            <small class="text-secondary">₹799</small>
          </div>
        </div>
        <div class="card m-2">
          <a href="#">
            <img src="..\assets\images\dc-tee.webp" class="card-img-top" height="300" alt="Product">
          </a>
          <div class="card-body">
            <p class="card-text fw-bold">Batman: 3D Logo (Half Sleeve)</p>
            <small class="text-secondary">₹899</small>
          </div>
        </div>
        <div class="card m-2">
          <a href="#">
            <img src="..\assets\images\dc-teesuper.webp" class="card-img-top" height="300" alt="Product">
          </a>
          <div class="card-body">
            <p class="card-text fw-bold">Superman: Classic  (Half Sleeve)</p>
            <small class="text-secondary">₹950</small>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container-fluid footer-footer">
        <div class="row">
          <div class="col-md-3 footer-link">
            <p><b>MAIN LINKS</b></p>
            <li><a class="link" href="#">New Arrivals</a></li>
            <li><a class="link" href="#">Gift Combo</a></li>
            <li><a class="link" href="#">Clearance Zone</a></li>
            <li><a class="link" href="#">Coupons & Offers</a></li>
          </div>
          <div class="col-md-3 footer-contact">
            <p><b>CONTACT US</b></p>
            <p>
              <i class="ri ri-map-pin-line"></i>World Trade Center, Bangalore
            </p>
            <p><i class="ri ri-phone-line"></i>+1 0123456789</p>
            <p><i class="ri ri-mail-line"></i>care@webstore.in</p>
          </div>
          <div class="col-md-3 footer-subscribe">
            <p><b>Subscribe Newslwtter</b></p>
            <input type="email" class="form-control" placeholder="Your Email" />
            <button type="button" class="btn btn-primary">Subscribe</button>
          </div>
          <div class="col-md-3 footer-social text-center">
            <p><b>social Media</b></p>
            <a href="#"
              ><img src="..\assets\images\facebook-icon.png" alt=""
            /></a>
            <a href="#"
              ><img src="..\assets\images\instagram-icon.png" alt=""
            /></a>
            <a href="#"
              ><img src="..\assets\images\whatsapp-icon.png" alt=""
            /></a>
            <a href="#"
              ><img src="..\assets\images\twitter-icon.png" alt=""
            /></a>
          </div>
        </div>
      </div>
    </footer>
    <h6 class="text-center" style="size: 20px">
      All artworks posted on this website is intended as fan art and is not
      purported to be official merchandise unless indicated otherwise. If you
      have any issues regarding the artwork do write in to us at
      care@webstore.xyz.
    </h6>
    <h6 class="text-center" style="size: 20px">Copyright © 2023 WebStore</h6>
  </body>
</html>
