<main class="brandBody" *ngIf="brandData">
    <div class="headBrand pt-2 pb-9 text-center">
      <h2>
        <img
          src="{{ brandData[0].brandLogo }}"
          alt=""
          style="height: 70px; width: 60px"
        />
        {{ brandData[0].brandName }} {{ brandData[0].brandModel }}
      </h2>
    </div>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{{ brandData[0].brandCarousel1 }}"
            alt=""
            style="width: 100%; height: 100%"
          />
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#777" />
          </svg>
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>{{ brandData[0].brandName }}</h1>
              <p>{{ brandData[0].brandCarousel1Text2 }}</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{{ brandData[0].brandCarousel2 }}"
            alt=""
            style="width: 100%; height: 800px"
          />
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#777" />
          </svg>
          <div class="container">
            <div class="carousel-caption text-end">
              <h2 style="padding-top: 50px; text-shadow: 2px 2px black">
                {{ brandData[0].brandCarousel2Text }}
              </h2>
              <p></p>
              <p>
                <a
                  class="btn btn-lg btn-primary"

                  [routerLink]="['/learnMorepage', brandData[0].id]"

                  style="right: 2%; position: relative"
                  >Learn more</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{{ brandData[0].brandCarousel3 }}"
            alt=""
            style="width: 100%; height: 800px"
          />
          <svg
            class="bd-placeholder-img"
            width="100%"
            height="100%"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <rect width="100%" height="100%" fill="#777" />
          </svg>
          <div class="container">
            <div class="carousel-caption text-end">
              <h1 class="cor3">{{ brandData[0].brandCarousel3Text }}</h1>
  
              <p>
                <a
                  class="btn btn-lg btn-primary"
                  [routerLink]="['/gallery', brandData[0].id]"
                  >Browse gallery</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
    <!-- Marketing messaging and featurettes
      ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <div class="row text-center">
        <div class="col-lg-4">
          <div class="svg-icon">
            <img src="../assets/svg/powerBHP.png" alt="" />
          </div>
  
          <h2 class="fw-normal">BHP</h2>
          <p>
            {{ brandData[0].modelPower }}
          </p>
        </div>
        <div class="col-lg-4">
          <div class="svg-icon">
            <img src="../assets/svg/milage.png" alt="" />
          </div>
          <h2 class="fw-normal">Milage</h2>
          <p>
            {{ brandData[0].modelMilage }}
          </p>
        </div>
        <div class="col-lg-4">
          <div class="svg-icon">
            <img src="../assets/svg/fuel.png" alt="" />
          </div>
          <h2 class="fw-normal">fuel</h2>
          <p>
            {{ brandData[0].modelFuel }}
          </p>
        </div>
      </div>
      <br>
  
      <div class="section-container">
        <div
          class="columns image"
          style="background-image: url('{{ brandData[0].brandFeature1Img }}');"
        >
          &nbsp;
        </div>
        <div class="columns content">
          <div class="content-container">
            <h1>{{ brandData[0].brandFeature1Title }}</h1>
            <p>{{ brandData[0].brandFeature1Text }}</p>
          </div>
        </div>
      </div>
      <div class="section-container">
        <div class="columns content">
          <div class="content-container">
            <h1>{{ brandData[0].brandFeature2Title }}</h1>
            <p>{{ brandData[0].brandFeature2Text }}</p>
          </div>
        </div>
        <div
          class="columns image"
          style="background-image: url('{{ brandData[0].brandFeature2Img }}');"
        >
          &nbsp;
        </div>
      </div>
      <div class="section-container">
        <div
          class="columns image"
          style="background-image: url('{{ brandData[0].brandFeature3Img }}');"
        >
          &nbsp;
        </div>

        <div class="columns content" style="padding-bottom: 50px;">

          <div class="content-container">
            <h1>{{ brandData[0].brandFeature3Title }}</h1>
            <p>{{ brandData[0].brandFeature3Text }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </main>
  