form {
    width: 500px;
    justify-content: center;
    margin: 3%;
    height: auto;

}
.container{
    height: 130vh;
    width: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    background-image: url(/src/assets/pexels-pixabay-94272.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
  }
 